$color:#C7CBD4;
	h3 {
    		text-shadow: 2px 2px black ;
		}


	body{ 
		background-color: $color; 
		padding-bottom: 25px ; }
	

	h1 {font-family:Impact;border-bottom: 6px solid white; background-color: #405275; color : white ; text-decoration: overline;font-size:70px; text-align: center;text-shadow: 2px 2px black ;
	}
	h2:hover {font-family:Impact;border-bottom: 6px solid white ;background-color:#405275 ; font-size:60px; color:white; text-align: center;text-decoration: overline;text-align: center; text-shadow: 2px 2px black;
}

p { color:#405275; text-align: center;font-size:35px;border-style: double; }

	
